<div data-hook="outside_cart_form">
  <%= form_for @order, :url => update_cart_path, method: :patch, :html => {:id => 'update-cart'} do |order_form| %>

    <div class="clearfix">

        <div class="form-group">
          <%= order_form.text_field :coupon_code, :size => 10, :placeholder => Spree.t(:coupon_code), class: "form-control form-control-inline hidden" %>
       


    </div>

    </div>

    <div data-hook="inside_cart_form">

      <div data-hook="cart_items">

          <% @products_and_totals.each do |product_and_total| %>
            <% product = product_and_total[:product] %>
            <div id="product_<%= product.id %>" class="product-select well" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
              <%= radio_button_tag :product, product.master.id, product_and_total[:selected] %>
              <%= label_tag "product_#{product.master.id}", truncate(product.name, :length => 50), :class => 'info', :itemprop => "name", :title => product.name %>

              <span><%= product.description %></span>
              <span><%= product.property("totalNumber") %> <%= Spree.t(:in_bundle) %> </span>

              <h2 class="price selling pull-right text-right" itemprop="price">
              <span>
                <%= Spree.t(:get_x_discount, discount_percent: product.property('discount').to_i) unless product.property('discount').to_i == 0 %> <%= raw Spree.t(:price_per_bottle, :price => money_to_html(product_and_total[:per_item_price])) %><br/>
              </span>
                <small>Just <%= raw money_to_html(product.price_in(current_currency).display_price) %><%= Spree.t(:plus_x_shipping, cost: product.property('shippingCharge').to_i) if product.property('shippingCharge').to_i > 0 %></small>

              </h2>

              <span class="hidden" id="product-order-total"><%= product_and_total[:order_total].to_html %></span>


                <%= button_tag :class => 'btn btn-lg btn-success pull-right checkout', :id => 'checkout-link', :name => 'checkout' do %>
                  <span class="glyphicon glyphicon-lock"></span> <%= Spree.t(:checkout) %>
                <% end %>


            </div>


          <% end %>
          <% reset_cycle("classes") %>

        <% if @order.line_item_adjustments.any? %>
          <%= render :partial => 'form', :locals => { :order_form => order_form } %>
        <% end %>

      </div>

    </div>

    <div class="clearfix">

      <div id="subtotal" data-hook class="well col-md-12 text-right">
        <%= Spree.t(:subtotal) %>: <span class="lead text-primary order-total"><%= @order_total.to_html %>
      </div>



    </div>

  <% end %>
</div>
